header
{
    background-color: aquamarine;
}

body
{
    background-color: aquamarine;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}